<link rel="stylesheet" media='screen' href='../../assets/stylesheets/modal.css'>
<div class="row" ng-controller="RuleCtrl as uc">
    <div class="row">
        <h1>
            规则管理
        </h1>
        <hr>
    </div>
    <div class="row">
        <div class="form-group" align="right">
            <a class="btn btn-primary submit" ng-click="addRow()">新增</a>
        </div>
    </div>
    <div class="row">
        <div class="well well-lg">
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
    </div>


    <script type="text/ng-template" id="RuleModalContent.html" controller="RuleModalCtrl">
        <form role="form" ng-submit="update()">
            <table>
                <tbody>
                <div class="modal-body">
                    <tr>
                        <td>
                            <label class="control-label">规则类型:</label>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="type" required
                                   ng-model="rule.ruleType">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">键:</label>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="key" required
                                   ng-model="rule.ruleKey">
                        </td>
                        <td>
                            <label class="control-label">值:</label>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="value" required
                                   ng-model="rule.ruleValue">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="right">
                            <button type="submit" class="btn btn-success">确定</button>
                            <a ng-click="cancel()" class="btn btn-warning">取消</a>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </form>
    </script>
</div>