@(contact:Contact,centerDynamic:CenterDynamic)
@frontMain{
    <div class="row clearfix">
        <div class="col-md-4 column">
            <h2>
                新闻动态
            </h2>
            <p>
               @centerDynamic.title
            </p>
            <p>
                @centerDynamic.effectiveAt
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                关于我们
            </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                联系我们
            </h2>
            <p>
                   @contact.contactName :@contact.phone
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
    </div>
    <div class="row clearfix">
        <div class="row clearfix">
            <div class="col-md-8 column">
                <h3>
                    &nbsp&nbsp产品展示
                </h3>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="20">&nbsp;</td>
                        <td align="center" valign="middle"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="left" scope="row"><div id="pic" style="OVERFLOW: hidden; WIDTH: 710px; align: center">
                                    <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="center" id="Content1"><table width="100%" height="130" border="0" cellpadding="0" cellspacing="1">
                                                    <tr>

                                                        <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
                                                                    <tr>
                                                                        <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2418"><img src="Managemax/product/files/SMA.jpg" alt="SMA" width="200" height="147" border="0" /></a></td>
                                                                    </tr>
                                                                </table></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2418">SMA</a></td>
                                                            </tr>
                                                        </table></td>

                                                        <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
                                                                    <tr>
                                                                        <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2417"><img src="Managemax/product/files/SMA2.jpg" alt="SMA2" width="200" height="147" border="0" /></a></td>
                                                                    </tr>
                                                                </table></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2417">SMA2</a></td>
                                                            </tr>
                                                        </table></td>

                                                        <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
                                                                    <tr>
                                                                        <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2405"><img src="Managemax/product/files/MCX2.jpg" alt="MCX2" width="200" height="147" border="0" /></a></td>
                                                                    </tr>
                                                                </table></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2405">MCX2</a></td>
                                                            </tr>
                                                        </table></td>

                                                        <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
                                                                    <tr>
                                                                        <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2403"><img src="Managemax/product/files/Din2.jpg" alt="Din2" width="200" height="147" border="0" /></a></td>
                                                                    </tr>
                                                                </table></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2403">Din2</a></td>
                                                            </tr>
                                                        </table></td>

                                                        <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
                                                                    <tr>
                                                                        <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2400"><img src="Managemax/product/files/20130619-a-09.jpg" alt="工程机械线束01" width="200" height="147" border="0" /></a></td>
                                                                    </tr>
                                                                </table></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2400">工程机械线束01</a></td>
                                                            </tr>
                                                        </table></td>

                                                        <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
                                                                    <tr>
                                                                        <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2398"><img src="Managemax/product/files/20130619-a-07.jpg" alt="工程机械线束03" width="200" height="147" border="0" /></a></td>
                                                                    </tr>
                                                                </table></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2398">工程机械线束03</a></td>
                                                            </tr>
                                                        </table></td>

                                                        <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
                                                                    <tr>
                                                                        <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2396"><img src="Managemax/product/files/20130619-a-05.jpg" alt="工程机械线束05" width="200" height="147" border="0" /></a></td>
                                                                    </tr>
                                                                </table></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2396">工程机械线束05</a></td>
                                                            </tr>
                                                        </table></td>

                                                        <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
                                                                    <tr>
                                                                        <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2394"><img src="Managemax/product/files/20130619-a-03.jpg" alt="工程机械线束07" width="200" height="147" border="0" /></a></td>
                                                                    </tr>
                                                                </table></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2394">工程机械线束07</a></td>
                                                            </tr>
                                                        </table></td>

                                                        <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
                                                                    <tr>
                                                                        <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2391"><img src="Managemax/product/files/20130619-yiliao-09.jpg" alt="医疗设备线束01" width="200" height="147" border="0" /></a></td>
                                                                    </tr>
                                                                </table></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2391">医疗设备线束01</a></td>
                                                            </tr>
                                                        </table></td>

                                                        <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
                                                                    <tr>
                                                                        <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2389"><img src="Managemax/product/files/20130619-yiliao-07.jpg" alt="医疗设备线束03" width="200" height="147" border="0" /></a></td>
                                                                    </tr>
                                                                </table></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2389">医疗设备线束03</a></td>
                                                            </tr>
                                                        </table></td>
                                                    </tr><tr>
                                                </tr>
                                                </table></td>
                                                <td id="Content2"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                    <script language="JavaScript" type="text/javascript">
                                    var speed=35;
                                    Content2.innerHTML=Content1.innerHTML;
                                    function Marquee()
                                    {
                                    if(pic.scrollLeft>=Content1.scrollWidth)
                                    {pic.scrollLeft=0;
                                    }
                                    else
                                    {pic.scrollLeft++;
                                    }
                                    }
                                    var Mar=setInterval(Marquee,speed)
                                    pic.onmouseover=function()
                                    {clearInterval(Mar)
                                    }
                                    pic.onmouseout=function()
                                    {Mar=setInterval(Marquee,speed)
                                    }
                                    </script></td>
                            </tr>
                        </table></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4 column">
                <h3>
                    招贤纳士
                </h3>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>
            </div>
        </div>

    </div>
}



	

