<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <base href="<%=basePath%>">
    <title>无锡翰泰科技有限公司</title>
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">    
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="This is my page">
	<link rel="stylesheet" href="@routes.Assets.at("module/bootstrap/css/bootstrap.min.css")">
	<link rel="stylesheet" href="@routes.Assets.at("module/bootstrap/css/bootstrap-theme.min.css")">
	<script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")"></script>
	<script src="@routes.Assets.at("module/bootstrap/js/2.3.2/bootstrap.min.js")"></script>
  </head>
  
  <body>
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">HAITAI</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							 <a href="/shouye">首页</a>
						</li>
						<li >
							 <a href="#">关于我们</a>
						</li>
						<li>
							 <a href="#">产品展示</a>
						</li>
						<li>
							 <a href="#">公司一角</a>
						</li>
						<li>
							 <a href="#">流程图</a>
						</li>
						<li>
							 <a href="#">在线留言</a>
						</li>
						<li>
							 <a href="#">合作伙伴</a>
						</li>
						<li>
							 <a href="#">联系我们</a>
						</li>
					</ul>
				</div>
			</nav>
		    <div id="myCarousel" class="carousel slide">
			    <ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel" data-slide-to="1"></li>
			    <li data-target="#myCarousel" data-slide-to="2"></li>
			    </ol>
			    <div class="carousel-inner">
			    <div class="active item">
			    	<img alt="11" src="@routes.Assets.at("images/11.jpg")" />
			    </div>
			    <div class="item">
			    	<img alt="22" src="@routes.Assets.at("images/22.jpg")" />
			    </div>
			    <div class="item">
			    	<img alt="33" src="@routes.Assets.at("images/33.jpg")" />
			    </div>
			    </div>
			    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		    </div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				新闻动态
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				 <a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				关于我们
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				 <a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				联系我们
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				 <a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="row clearfix">
			<div class="col-md-8 column">
				<h3>
				&nbsp&nbsp产品展示
				</h3>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
	            <tr>
	              <td width="20">&nbsp;</td>
	              <td align="center" valign="middle"><table width="100%" border="0" cellpadding="0" cellspacing="0">
	                <tr>
	                  <td align="left" scope="row"><div id="pic" style="OVERFLOW: hidden; WIDTH: 710px; align: center">
	                      <table cellspacing="0" cellpadding="0" width="100%" border="0">
	                        <tbody>
	                          <tr>
	                            <td align="center" valign="center" id="Content1"><table width="100%" height="130" border="0" cellpadding="0" cellspacing="1">
	                              <tr>
	                                
	                                <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
	                                    <tr>
	                                      <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
	                                          <tr>
	                                            <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2418"><img src="Managemax/product/files/SMA.jpg" alt="SMA" width="200" height="147" border="0" /></a></td>
	                                          </tr>
	                                      </table></td>
	                                    </tr>
	                                    <tr>
	                                      <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2418">SMA</a></td>
	                                    </tr>
	                                </table></td>
	                                
	                                <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
	                                    <tr>
	                                      <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
	                                          <tr>
	                                            <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2417"><img src="Managemax/product/files/SMA2.jpg" alt="SMA2" width="200" height="147" border="0" /></a></td>
	                                          </tr>
	                                      </table></td>
	                                    </tr>
	                                    <tr>
	                                      <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2417">SMA2</a></td>
	                                    </tr>
	                                </table></td>
	                                
	                                <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
	                                    <tr>
	                                      <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
	                                          <tr>
	                                            <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2405"><img src="Managemax/product/files/MCX2.jpg" alt="MCX2" width="200" height="147" border="0" /></a></td>
	                                          </tr>
	                                      </table></td>
	                                    </tr>
	                                    <tr>
	                                      <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2405">MCX2</a></td>
	                                    </tr>
	                                </table></td>
	                                
	                                <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
	                                    <tr>
	                                      <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
	                                          <tr>
	                                            <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2403"><img src="Managemax/product/files/Din2.jpg" alt="Din2" width="200" height="147" border="0" /></a></td>
	                                          </tr>
	                                      </table></td>
	                                    </tr>
	                                    <tr>
	                                      <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2403">Din2</a></td>
	                                    </tr>
	                                </table></td>
	                                
	                                <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
	                                    <tr>
	                                      <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
	                                          <tr>
	                                            <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2400"><img src="Managemax/product/files/20130619-a-09.jpg" alt="工程机械线束01" width="200" height="147" border="0" /></a></td>
	                                          </tr>
	                                      </table></td>
	                                    </tr>
	                                    <tr>
	                                      <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2400">工程机械线束01</a></td>
	                                    </tr>
	                                </table></td>
	                                
	                                <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
	                                    <tr>
	                                      <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
	                                          <tr>
	                                            <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2398"><img src="Managemax/product/files/20130619-a-07.jpg" alt="工程机械线束03" width="200" height="147" border="0" /></a></td>
	                                          </tr>
	                                      </table></td>
	                                    </tr>
	                                    <tr>
	                                      <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2398">工程机械线束03</a></td>
	                                    </tr>
	                                </table></td>
	                                
	                                <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
	                                    <tr>
	                                      <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
	                                          <tr>
	                                            <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2396"><img src="Managemax/product/files/20130619-a-05.jpg" alt="工程机械线束05" width="200" height="147" border="0" /></a></td>
	                                          </tr>
	                                      </table></td>
	                                    </tr>
	                                    <tr>
	                                      <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2396">工程机械线束05</a></td>
	                                    </tr>
	                                </table></td>
	                                
	                                <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
	                                    <tr>
	                                      <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
	                                          <tr>
	                                            <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2394"><img src="Managemax/product/files/20130619-a-03.jpg" alt="工程机械线束07" width="200" height="147" border="0" /></a></td>
	                                          </tr>
	                                      </table></td>
	                                    </tr>
	                                    <tr>
	                                      <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2394">工程机械线束07</a></td>
	                                    </tr>
	                                </table></td>
	                                
	                                <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
	                                    <tr>
	                                      <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
	                                          <tr>
	                                            <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2391"><img src="Managemax/product/files/20130619-yiliao-09.jpg" alt="医疗设备线束01" width="200" height="147" border="0" /></a></td>
	                                          </tr>
	                                      </table></td>
	                                    </tr>
	                                    <tr>
	                                      <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2391">医疗设备线束01</a></td>
	                                    </tr>
	                                </table></td>
	                                
	                                <td align="center" valign="middle"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
	                                    <tr>
	                                      <td align="center" ><table border="0" cellpadding="0" cellspacing="3" bgcolor="#ECECEC">
	                                          <tr>
	                                            <td align="center" valign="middle" bgcolor="#FFFFFF"><a href="InfoProductView.asp?id=2389"><img src="Managemax/product/files/20130619-yiliao-07.jpg" alt="医疗设备线束03" width="200" height="147" border="0" /></a></td>
	                                          </tr>
	                                      </table></td>
	                                    </tr>
	                                    <tr>
	                                      <td height="25" align="center" valign="middle" background="images/pic_bg.jpg"><a href="InfoProductView.asp?id=2389">医疗设备线束03</a></td>
	                                    </tr>
	                                </table></td>
	                                </tr><tr>
	                              </tr>
	                            </table></td>
	                            <td id="Content2"></td>
	                          </tr>
	                        </tbody>
	                      </table>
                  </div>
                      <script language="JavaScript" type="text/javascript">
				var speed=35;
				Content2.innerHTML=Content1.innerHTML;
				function Marquee()
				{
					if(pic.scrollLeft>=Content1.scrollWidth)
					{pic.scrollLeft=0;
					}
					else
					{pic.scrollLeft++;
					}
				}
				var Mar=setInterval(Marquee,speed)
				pic.onmouseover=function()
				{clearInterval(Mar)
				}
				pic.onmouseout=function()
				{Mar=setInterval(Marquee,speed)
				}
			              </script></td>
                </tr>
              </table></td>
            </tr>
          </table>
			</div>
			<div class="col-md-4 column">
				<h3>
				招贤纳士
				</h3>
				<p>
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				</p>
				<p>
					 <a class="btn" href="#">View details »</a>
				</p>
			</div>
		</div>
		
	</div>
	
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table width="995" border="0" align="center" cellpadding="0" cellspacing="0">
				  <tr>
				    <td height="28" align="center" background="images/btline.jpg"><a href="about.asp" class="white2">关于我们</a><font color="#FFFFFF">  |  </font><a href="news.asp" class="white2">新闻资讯</a><font color="#FFFFFF">  |  </font><a href="product.asp" class="white2">产品中心</a><font color="#FFFFFF">  |  </font> <a href="rczp.asp" class="white2">合作伙伴</a><font color="#FFFFFF">  |  </font><a href="contact.asp" class="white2">联系我们</a><font color="#FFFFFF">  |  </font></td>
				  </tr>
				  <tr>
				    <td align="center" class="high2"><font color="#a7a7a7">Copyright &copy; 2013-2014 All Rights Reserved. 版权所有:无锡翰泰科技有限公司 技术支持：<a href="http://www.yz168.net" target="_blank" class="cp3">无锡远征软件科技有限公司</a><br />
				地址：江苏省无锡市锡山区安镇镇东盛路大成创业园A区45号西楼  邮编：214105  电 话：0510-88532838 13771382190 传真：0510-88531428</font></td>
				  </tr>
			</table>
		</div>
	</div>
</div>
  </body>
</html>
