<link rel="stylesheet" media='screen' href='../../assets/stylesheets/modal.css'>
<div class="row" ng-controller="OrderCtrl as uc">
    <div class="row">
        <h1>
            订单信息
        </h1>
        <hr>
    </div>
    <div class="row">
        <div class="form-group">
            <div ng-show="alertFlag">
                <br>
                <alert class="{{alertClass}}" close="removeAlert()">{{msg}}</alert>
            </div>
            <form class="form-inline" role="form" name="myForm" action="{{action}}" method="post">
            <label class="control-label">对账日期：</label>
            <input name="createTime" ng-enter="uc.findResult()" ui-date
                   required ng-model="queryRule.filterText.createTime">
            <div class="form-group" align="right">
                <button class="btn btn-primary submit" ng-disabled="myForm.createTime.$invalid"  type="submit" ng-click="uc.exportDailyTotal()">订餐清单</button>
                <button class="btn btn-primary submit" ng-disabled="myForm.createTime.$invalid" type="submit"  ng-click="uc.exportDailyDetail()">订单明细</button>
            </div>
            </form>
        </div>
        <div class="well well-lg">
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
    </div>


    <script type="text/ng-template" id="OrderModalContent.html" controller="OrderModalCtrl">
        <form role="form" ng-submit="update()">
            <table>
                <tbody>
                <div class="modal-body">
                    <tr>
                        <td>
                            <label class="control-label">用户名:</label>
                        </td>
                        <td>
                            <input class="form-control" type="text" ng-model="order.userName" disabled="disabled">
                            <input class="form-control" type="hidden" name="userName" required
                                   ng-model="order.userName">
                        </td>

                        <td>
                            <label class="control-label">菜名:</label>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="foodName" required
                                   ng-model="order.foodName">
                        </td>
                        <td>
                            <label class="control-label">价格:</label>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="price" required
                                   ng-model="order.priceStr">
                        </td>
                        <td>
                            <label class="control-label">来源:</label>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="source" required
                                   ng-model="order.source">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="right">
                            <button type="submit" class="btn btn-success">确定</button>
                            <a ng-click="cancel()" class="btn btn-warning">取消</a>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </form>
    </script>
</div>