@(body: Html)
@import play.api.Play.current;
@import play.api.Play;

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>@Play.application.configuration.getString("server.name")</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- The styles 存放全局的样式文件 -->
    @css()
	@script()
</head>

<body>
		<!-- topbar starts -->
	<div class="navbar">
		@top()
	</div>
	<!-- topbar ends -->
		<div class="container-fluid">
		<div class="row-fluid">
				
			<!-- left menu starts -->
			<div class="span2 main-menu-span" >
				<div class="well nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="/education/admin/home"><i class="icon-picture"></i><span class="hidden-tablet">首页</span></a></li>
						<li><a href="/education/admin/home"><i class="icon-picture"></i><span class="hidden-tablet">中心简介</span></a></li>
						<li><a href="/education/admin/home"><i class="icon-picture"></i><span class="hidden-tablet">中心动态</span></a></li>
						<li><a href="/education/admin/home"><i class="icon-picture"></i><span class="hidden-tablet">政策法规</span></a></li>
						<li><a href="/education/admin/home"><i class="icon-picture"></i><span class="hidden-tablet">事故案例</span></a></li>
						<li><a href="/education/admin/home"><i class="icon-picture"></i><span class="hidden-tablet">联系我们</span></a></li>
					</ul>
				</div><!--/.well -->
			</div><!--/span-->
			<!-- left menu ends -->
			
			<div id="content" class="span10">
			@body
			</div><!--/#content.span10-->
				</div><!--/fluid-row-->
				
		<hr>

		
		
	</div><!--/.fluid-container-->

	
	 
	
	
	
	
	
	
	<div id="confirmDiv"></div>
</body>
</html>
