<!-- The styles 存放全局的样式文件 -->
	<link id="bs-css" href="@routes.Assets.at("module/bootstrap/css/bootstrap-cerulean.css")" rel="stylesheet">
	


	<link href="@routes.Assets.at("module/bootstrap/css/bootstrap-responsive.css")" rel="stylesheet">
	<link href="@routes.Assets.at("module/bootstrap/css/charisma-app.css")" rel="stylesheet">
	<link href="@routes.Assets.at("module/bootstrap/css/custom-theme/jquery-ui-1.9.2.bootstrap.css")" rel="stylesheet">
	<link href="@routes.Assets.at("module/bootstrap/css/fullcalendar.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("module/bootstrap/css/fullcalendar.print.css")" rel='stylesheet'  media='print'>
	<link href="@routes.Assets.at("module/bootstrap/css/chosen.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("module/bootstrap/css/uniform.default.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("module/bootstrap/css/colorbox.css")" rel='stylesheet'> 
	<link href="@routes.Assets.at("module/bootstrap/css/jquery.cleditor.css")" rel='stylesheet'>
	
	<link href="@routes.Assets.at("module/bootstrap/css/elfinder.min.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("module/bootstrap/css/elfinder.theme.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("module/bootstrap/css/jquery.iphone.toggle.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("module/bootstrap/css/opa-icons.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("module/bootstrap/css/uploadify.css")" rel='stylesheet'>
	
	<link href="@routes.Assets.at("module/jqeasyui/themes/bootstrap/easyui.css")" rel='stylesheet'> 
	
	
	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="@routes.Assets.at("module/bootstrap/js/html5.js")"></script>
	<![endif]-->


    <style type="text/css">
	  body {
		padding-bottom: 40px;
	  }
	  .sidebar-nav {
		padding: 9px 0;
	  }
	  .nav-tabs > li >  font{
		  cursor: not-allowed;	
		 		  line-height: 30px;
		  border: 1px solid transparent;
		  -webkit-border-radius: 4px 4px 0 0;
		  -moz-border-radius: 4px 4px 0 0;
		  border-radius: 4px 4px 0 0;
		}

     .datepicker.hasDatepicker{
        background-color:white;
     }
	</style>

	<!-- The fav icon -->
	<link rel="shortcut icon" href="@routes.Assets.at("module/bootstrap/img/favicon.ico")">
    <link href="@routes.Assets.at("module/shadowbox/shadowbox.css")" rel='stylesheet'>
    
    