<!-- external javascript 存放全局的js脚本文件
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<!-- jQuery -->
	<script src="@routes.Assets.at("module/bootstrap/js/jquery.min.js")"></script>
	<!-- jQuery UI -->
	<script src="@routes.Assets.at("module/bootstrap/js/jquery-ui.custom.min.js")"></script>
	<!-- transition / effect library -->
	<script src="@routes.Assets.at("module/bootstrap/js/bootstrap-transition.js")"></script>
	<!-- alert enhancer library -->
	<script src="@routes.Assets.at("module/bootstrap/js/bootstrap-alert.js")"></script>
	<!-- modal / dialog library -->
	<script src="@routes.Assets.at("module/bootstrap/js/bootstrap-modal.js")"></script>
	<script src="@routes.Assets.at("module/bootstrap/js/bootstrap-confirm.js")"></script>
	
	<!-- custom dropdown library -->
	<script src="@routes.Assets.at("module/bootstrap/js/bootstrap-dropdown.js")"></script>
	<!-- scrolspy library -->
	<script src="@routes.Assets.at("module/bootstrap/js/bootstrap-scrollspy.js")"></script>
	<!-- library for creating tabs -->
	<script src="@routes.Assets.at("module/bootstrap/js/bootstrap-tab.js")"></script>
	<!-- library for advanced tooltip -->
	<script src="@routes.Assets.at("module/bootstrap/js/bootstrap-tooltip.js")"></script>
	<!-- popover effect library -->
	<script src="@routes.Assets.at("module/bootstrap/js/bootstrap-popover.js")"></script>
	<!-- button enhancer library -->
	<script src="@routes.Assets.at("module/bootstrap/js/bootstrap-button.js")"></script>
	<!-- accordion library (optional, not used in demo) -->
	<script src="@routes.Assets.at("module/bootstrap/js/bootstrap-collapse.js")"></script>
	<!-- carousel slideshow library (optional, not used in demo) -->
	<script src="@routes.Assets.at("module/bootstrap/js/bootstrap-carousel.js")"></script>
	<!-- autocomplete library -->
	<script src="@routes.Assets.at("module/bootstrap/js/bootstrap-typeahead.js")"></script>
	<!-- tour library -->
	<script src="@routes.Assets.at("module/bootstrap/js/bootstrap-tour.js")"></script>
	<!-- library for cookie management -->
	<script src="@routes.Assets.at("module/bootstrap/js/jquery.cookie.js")"></script>
	<!-- calander plugin -->
	<script src="@routes.Assets.at("module/bootstrap/js/fullcalendar.min.js")"></script>
	<!-- data table plugin -->
	<script src="@routes.Assets.at("module/bootstrap/js/jquery.dataTables.js")"></script>
	<script src="@routes.Assets.at("module/bootstrap/js/DT_bootstrap.js")"></script>
	
	

	<!-- select or dropdown enhancer -->
	<script src="@routes.Assets.at("module/bootstrap/js/jquery.chosen.min.js")"></script>
	<!-- checkbox, radio, and file input styler -->
	<script src="@routes.Assets.at("module/bootstrap/js/jquery.uniform.min.js")"></script>
	<!-- plugin for gallery image view -->
	<script src="@routes.Assets.at("module/bootstrap/js/jquery.colorbox.min.js")"></script>
	<!-- rich text editor library -->
	<script src="@routes.Assets.at("module/bootstrap/js/jquery.cleditor.min.js")"></script>
	<!-- notification plugin -->
	<script src="@routes.Assets.at("module/noty/jquery.noty.js")"></script>
	<script src="@routes.Assets.at("module/noty/layouts/center.js")"></script>
	<script src="@routes.Assets.at("module/noty/layouts/top.js")"></script>
	<script src="@routes.Assets.at("module/noty/themes/default.js")"></script>
	
	
	 
	<script src="@routes.Assets.at("module/bootstrap/js/jquery.i18n.properties.js")"></script>
	

	<!-- history.js for cross-browser state change on ajax -->
	<script src="@routes.Assets.at("module/bootstrap/js/jquery.history.js")"></script>
	<!-- application script for Charisma demo -->
	<script src="@routes.Assets.at("module/bootstrap/js/charisma.js")"></script>
	<!-- application script for menu -->
	<script src="@routes.Assets.at("module/shadowbox/shadowbox.js")"></script>


    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.min.js"))"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui-router.min.js"))' type="text/javascript"></script>

	
	<script>

      $.extend($.fn.dataTable.defaults.oLanguage, {
    	    "sProcessing": "加载中...",
    	    	"sLengthMenu": "显示 _MENU_ 条 ",
    	    	"sZeroRecords": "没有您要搜索的内容",
    	    	"sEmptyTable": "表格没有内容",
    	    	"sInfo": "显示_START_至_END_条     共 _TOTAL_ 条",
    	    	"sInfoEmpty": "记录数为0",
    	    	"sInfoFiltered": "(全部记录数 _MAX_  条)",
    	    	"sInfoPostFix": "",
    	    	"sSearch": "搜索  ",
    	    	"sUrl": "",    //"sUrl": "dataTables/de_DE.txt" 添加个国际化的文件
    	    	"oPaginate": {
    	    	"sFirst":    " 首页",
    	    	"sPrevious": " 上页 ",
    	    	"sNext":     " 下页 ",
    	    	"sLast":     " 末页 "
    	    	}
       });


	</script>
	
